[Desktop Entry]
Type=Application
Name=Install Gory OS
Exec=sudo -E calamares
Icon=/usr/share/pixmaps/gory-installer-logo.png
Terminal=false
Categories=System;
